name: Publish

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: adopt
          java-version: 21

      - name: Create gradle assembly
        run: gradle clean assemble

      - name: Create checksums.txt
        id: checksums
        run: |
          cd ./build/distributions/
          sha256sum jolt-cli.tar.gz > checksums.txt
          echo "sha=$(grep jolt-cli.tar.gz checksums.txt | cut -d' ' -f1)" > "${GITHUB_OUTPUT}"

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            ./build/distributions/jolt-cli.tar.gz
            ./build/distributions/checksums.txt

      - name: Set up Homebrew
        id: set-up-homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Cache Homebrew Bundler RubyGems
        id: cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.set-up-homebrew.outputs.gems-path }}
          key: ${{ runner.os }}-rubygems-${{ steps.set-up-homebrew.outputs.gems-hash }}
          restore-keys: ${{ runner.os }}-rubygems-

      - name: Parse version
        id: version
        env:
          ref_name: ${{ github.ref_name }}
        run: |
          echo "version=${ref_name}" >> "${GITHUB_OUTPUT}"
          echo "versionWithoutPrefix=${ref_name#v}" >> "${GITHUB_OUTPUT}"

      - name: Tap mcwarman/tap
        run: brew tap mcwarman/tap https://x-access-token:${{ secrets.HOMEBREW_TOKEN }}@github.com/mcwarman/homebrew-tap

      - name: Setup tap git config
        run: |
          tap_path=$(brew tap-info mcwarman/tap --json | jq -r '.[0].path')
          cd "${tap_path}"
          git config user.name  "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: Bump formulae
        run: |
          brew bump-formula-pr mcwarman/tap/jolt \
          --no-fork \
          --no-browse \
          --url ${{ github.server_url }}/${{ github.repository }}/releases/download/${{ steps.version.outputs.version }}/jolt-cli.tar.gz \
          --sha256=${{ steps.checksums.outputs.sha }}
        env:
          HOMEBREW_DEVELOPER: "1"
          HOMEBREW_NO_INSTALL_FROM_API: "1"
          HOMEBREW_GITHUB_API_TOKEN: ${{ secrets.HOMEBREW_TOKEN }}
